<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.growlithe.uci.mysql.database.ecoli.dao.mapper.EcoliMapper">
  <resultMap id="BaseResultMap" type="com.growlithe.uci.mysql.database.ecoli.dao.domain.EcoliDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sequence_name" jdbcType="VARCHAR" property="sequenceName" />
    <result column="mcg" jdbcType="DECIMAL" property="mcg" />
    <result column="gvh" jdbcType="DECIMAL" property="gvh" />
    <result column="lip" jdbcType="DECIMAL" property="lip" />
    <result column="chg" jdbcType="DECIMAL" property="chg" />
    <result column="aac" jdbcType="DECIMAL" property="aac" />
    <result column="alm_a" jdbcType="DECIMAL" property="almA" />
    <result column="alm_b" jdbcType="DECIMAL" property="almB" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

    <sql id="base_property">
        id, <include refid="save_property"/>
    </sql>
    <sql id="save_property">
    sequence_name, mcg, gvh, lip, chg, aac, alm_a, alm_b, class_name, status
    </sql>

    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="base_property"/>
        from uci_database.ecoli
        where status = 1
    </select>

</mapper>