<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.growlithe.uci.mysql.database.covertype.dao.mapper.CovertypeMapper">
  <resultMap id="BaseResultMap" type="com.growlithe.uci.mysql.database.covertype.dao.domain.CovertypeDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="elevation" jdbcType="INTEGER" property="elevation" />
    <result column="aspect" jdbcType="INTEGER" property="aspect" />
    <result column="slope" jdbcType="INTEGER" property="slope" />
    <result column="horizontal_distance_to_hydrology" jdbcType="INTEGER" property="horizontalDistanceToHydrology" />
    <result column="vertical_distance_to_hydrology" jdbcType="INTEGER" property="verticalDistanceToHydrology" />
    <result column="horizontal_distance_to_roadways" jdbcType="INTEGER" property="horizontalDistanceToRoadways" />
    <result column="hillshade_am" jdbcType="INTEGER" property="hillshadeAm" />
    <result column="hillshade_noon" jdbcType="INTEGER" property="hillshadeNoon" />
    <result column="hillshade_pm" jdbcType="INTEGER" property="hillshadePm" />
    <result column="horizontal_distance_to_fire_points" jdbcType="INTEGER" property="horizontalDistanceToFirePoints" />
    <result column="wilderness_area_a" jdbcType="INTEGER" property="wildernessAreaA" />
    <result column="wilderness_area_b" jdbcType="INTEGER" property="wildernessAreaB" />
    <result column="wilderness_area_c" jdbcType="INTEGER" property="wildernessAreaC" />
    <result column="wilderness_area_d" jdbcType="INTEGER" property="wildernessAreaD" />
    <result column="soil_type_aa" jdbcType="INTEGER" property="soilTypeAa" />
    <result column="soil_type_ab" jdbcType="INTEGER" property="soilTypeAb" />
    <result column="soil_type_ac" jdbcType="INTEGER" property="soilTypeAc" />
    <result column="soil_type_ad" jdbcType="INTEGER" property="soilTypeAd" />
    <result column="soil_type_ae" jdbcType="INTEGER" property="soilTypeAe" />
    <result column="soil_type_af" jdbcType="INTEGER" property="soilTypeAf" />
    <result column="soil_type_ag" jdbcType="INTEGER" property="soilTypeAg" />
    <result column="soil_type_ah" jdbcType="INTEGER" property="soilTypeAh" />
    <result column="soil_type_ai" jdbcType="INTEGER" property="soilTypeAi" />
    <result column="soil_type_aj" jdbcType="INTEGER" property="soilTypeAj" />
    <result column="soil_type_ak" jdbcType="INTEGER" property="soilTypeAk" />
    <result column="soil_type_al" jdbcType="INTEGER" property="soilTypeAl" />
    <result column="soil_type_am" jdbcType="INTEGER" property="soilTypeAm" />
    <result column="soil_type_an" jdbcType="INTEGER" property="soilTypeAn" />
    <result column="soil_type_ao" jdbcType="INTEGER" property="soilTypeAo" />
    <result column="soil_type_ap" jdbcType="INTEGER" property="soilTypeAp" />
    <result column="soil_type_aq" jdbcType="INTEGER" property="soilTypeAq" />
    <result column="soil_type_ar" jdbcType="INTEGER" property="soilTypeAr" />
    <result column="soil_type_as" jdbcType="INTEGER" property="soilTypeAs" />
    <result column="soil_type_at" jdbcType="INTEGER" property="soilTypeAt" />
    <result column="soil_type_au" jdbcType="INTEGER" property="soilTypeAu" />
    <result column="soil_type_av" jdbcType="INTEGER" property="soilTypeAv" />
    <result column="soil_type_aw" jdbcType="INTEGER" property="soilTypeAw" />
    <result column="soil_type_ax" jdbcType="INTEGER" property="soilTypeAx" />
    <result column="soil_type_ay" jdbcType="INTEGER" property="soilTypeAy" />
    <result column="soil_type_az" jdbcType="INTEGER" property="soilTypeAz" />
    <result column="soil_type_ba" jdbcType="INTEGER" property="soilTypeBa" />
    <result column="soil_type_bb" jdbcType="INTEGER" property="soilTypeBb" />
    <result column="soil_type_bc" jdbcType="INTEGER" property="soilTypeBc" />
    <result column="soil_type_bd" jdbcType="INTEGER" property="soilTypeBd" />
    <result column="soil_type_be" jdbcType="INTEGER" property="soilTypeBe" />
    <result column="soil_type_bf" jdbcType="INTEGER" property="soilTypeBf" />
    <result column="soil_type_bg" jdbcType="INTEGER" property="soilTypeBg" />
    <result column="soil_type_bh" jdbcType="INTEGER" property="soilTypeBh" />
    <result column="soil_type_bi" jdbcType="INTEGER" property="soilTypeBi" />
    <result column="soil_type_bj" jdbcType="INTEGER" property="soilTypeBj" />
    <result column="soil_type_bk" jdbcType="INTEGER" property="soilTypeBk" />
    <result column="soil_type_bl" jdbcType="INTEGER" property="soilTypeBl" />
    <result column="soil_type_bm" jdbcType="INTEGER" property="soilTypeBm" />
    <result column="soil_type_bn" jdbcType="INTEGER" property="soilTypeBn" />
    <result column="cover_type" jdbcType="INTEGER" property="coverType" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>

    <sql id="base_property">
        id,
        <include refid="save_property"/>
    </sql>
    <sql id="save_property">
    elevation, aspect, slope, horizontal_distance_to_hydrology, vertical_distance_to_hydrology,
    horizontal_distance_to_roadways, hillshade_am, hillshade_noon, hillshade_pm, horizontal_distance_to_fire_points,
    wilderness_area_a, wilderness_area_b, wilderness_area_c, wilderness_area_d, soil_type_aa,
    soil_type_ab, soil_type_ac, soil_type_ad, soil_type_ae, soil_type_af, soil_type_ag,
    soil_type_ah, soil_type_ai, soil_type_aj, soil_type_ak, soil_type_al, soil_type_am,
    soil_type_an, soil_type_ao, soil_type_ap, soil_type_aq, soil_type_ar, soil_type_as,
    soil_type_at, soil_type_au, soil_type_av, soil_type_aw, soil_type_ax, soil_type_ay,
    soil_type_az, soil_type_ba, soil_type_bb, soil_type_bc, soil_type_bd, soil_type_be,
    soil_type_bf, soil_type_bg, soil_type_bh, soil_type_bi, soil_type_bj, soil_type_bk,
    soil_type_bl, soil_type_bm, soil_type_bn, cover_type, status
    </sql>

    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="base_property"/>
        from uci_database.covertype
        where status = 1
    </select>

</mapper>