<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.growlithe.uci.mysql.database.statlogshuttle.dao.mapper.StatlogShuttleMapper">
    <resultMap id="BaseResultMap" type="com.growlithe.uci.mysql.database.statlogshuttle.dao.domain.StatlogShuttleDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="a" jdbcType="INTEGER" property="a"/>
        <result column="b" jdbcType="INTEGER" property="b"/>
        <result column="c" jdbcType="INTEGER" property="c"/>
        <result column="d" jdbcType="INTEGER" property="d"/>
        <result column="e" jdbcType="INTEGER" property="e"/>
        <result column="f" jdbcType="INTEGER" property="f"/>
        <result column="g" jdbcType="INTEGER" property="g"/>
        <result column="h" jdbcType="INTEGER" property="h"/>
        <result column="i" jdbcType="INTEGER" property="i"/>
        <result column="class_name" jdbcType="INTEGER" property="className"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <sql id="base_property">
        id,
        <include refid="save_property"/>
    </sql>
    <sql id="save_property">
     a, b, c, d, e, f, g, h, i, class_name, status
    </sql>

    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="base_property"/>
        from uci_database.statlog_shuttle
        where status = 1
    </select>

</mapper>